$primarycolor: #fff;
$secondarycolor:#0aeac7;


body{
    background-color: #1c1c1c;
    height: 210vh;
    
}
html{
    scroll-behavior: smooth;
}

// @media only screen and (max-width: 480px) {
//     /* Existing styles for the 12-inch pro */


// nav{
    
// }
// nav .title{
//     font-size: 1.5em;
// }  

// body{
//     width: 480px;
   
// block-size: fit-content;
// }
// }

footer h3{
    color: $primarycolor;
    font-size: 1em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

header{
    position: sticky;
    top: 0;
    z-index: 100;

}



#paginatwee{
    margin-bottom: 5em;
}

nav {
    display: flex;
    align-items: center;
    gap: 48em;
    position: sticky;
    background-color: #1c1c1c;
     height: 5em;
     top: 0;
    margin: 0;
    padding: 0;

    nav ul{
        display: flex;
        justify-content: flex-end;
        color: $primarycolor;
        
    }

    nav ul li{
        list-style: none;
        margin-right: 1em;
        font-size: 1.4em;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 500;
    }

    nav ul li a{
        color: $primarycolor;
        text-decoration: none;
    }
  }
  
  .title {
    
    margin-left: 5px;
    font-size: 2.5em;
    font-family: monospace;
    font-weight: bolder;
    letter-spacing: 5px;
  }





#detweede{
    #detweede h1{
        text-align: center;
            color: $primarycolor;
        }
}


#Information{
    width: 300px;
    height: 200px;
    border: solid;
    border-radius: 5px;
    border-color: $secondarycolor;
    color: $primarycolor;
}


#Contact{
    margin-left: 9em;
    width: 20em; 
    margin-bottom:7em ;
}

#meneerplaatje img{
    
    max-width: 18em;
    max-height: 28em;
    border:solid;
    border-color:$secondarycolor;
    box-shadow: 0 2px 8px #d8d4d4; 
    margin-top: 5em;
    margin-left: 17em;
}



.hover-button {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#1c1c1c;
    border: solid;
    color:$secondarycolor ;
    border-color:$secondarycolor;
    border-width: 3.2px;
    /* box-shadow: 0 2px 25px #0aeac7; */
    padding: 10px 20px ;
    text-align: center;
    text-decoration: none;
    
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .hover-button:hover {
    background-color: #817d7d;
  }

  #intro h1{
    color: $primarycolor;
    font-size: 4em;
    font-weight: 700;
    font-family:monospace;
  }
  
  
#call-to-action{
    
    cursor: pointer;
    transition-duration: 0.4s;
}

#call-to-action:hover{
    background-color: #008CBA;
}


#Contact{
    margin-top: 1em;
}
#Contact a{
 
    text-decoration: none;

}


#intro{
    text-align: center;
    margin-top: 4em;
    display: flex;
     flex-direction: column;

     p{
        color: $primarycolor;
    
        
    }
}

 

#links{
margin-left: 3em;
margin-bottom:4em;
width: 40em;
}

#rechts{
    width: 15em;
}

header{
    display: flex;
    
}

.title{
    font-size: 3em;
    text-decoration: none;
    font-weight: bold;
    color: $primarycolor;

}




.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background-color: #1c1c1c;
    color: $primarycolor;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #1c1c1c;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 1;
}

.dropdown-menu li {
    padding: 10px;
}

.dropdown-menu a {
    text-decoration: none;
    color: $primarycolor;
}

.dropdown-toggle.active + .dropdown-menu {
    display: block;
}


#keuze{
    display: flex;
}

.dark-mode {
    background-color:#746f6f;
    color: $primarycolor;
   
}

 

#container {
    text-align: center;
    padding-top: 100px;
}

 

button {
    font-size: 20px;
}

main{
    display: flex;
}

#deknoppen{
    margin-left: 42em;
    margin-top: 3em;
    display: flex;
    border: solid;
    box-shadow: 0 2px 8px #FE2155; 
    border-color: #FE2155;
    width: 5.35em;
    background-color: #FE2155;
}

#lightModeButton{
    background-color: rgb(70, 70, 70);

}

#ruimte{
    height: 6em;
    color: #1c1c1c;

    #ruimte p{
        color: #1c1c1c;
     }
}


.ptekst{
    text-align: center;
    color: $primarycolor;
    width: 30em;

}


#tweedelinks{
    margin-top: 5em;
    margin-left: 4em;
}

.intro p{
    color: $primarycolor;
}
.deeleen h1{
font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#foto2{
    width: 9em;
    margin-left: 7em;
    margin-right: 9em;
}

#beide{
    display: flex;

}
#humans{
    display: flex;
    flex-direction: column;
    margin-top:3em ;
    gap: 5em;
}
#humans img{
    height: 10em;
    width: 10em;
    border: solid #FE2155;
    border-radius: 5px;
    box-shadow: 0 2px 5px #FE2155; 
}

#laatste{
    border: solid $secondarycolor;
    padding: 1em;
    box-shadow: 0 2px 5px $primarycolor; 
    
}




  @media only screen and (max-width: 390px) and (max-height: 844px) {
    body {
      overflow-x: hidden;
      height: auto;
      width: 100vw; /* Maak de body de volledige breedte van het scherm */
      position: relative;
    }
    
    html, #paginatwee {
      height: auto;
    }
  }
  
