/* Stijlen voor de hele pagina */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

/* Stijlen voor de navigatiebalk */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Stijlen voor de hoofdsectie */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Stijlen voor de tabel */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    color: #fff;
}

/* Stijlen voor de actiekolom */
td:last-child {
    text-align: center;
}

/* Stijlen voor de actielinks */
td:last-child a {
    color: #007bff;
    text-decoration: none;
    margin-right: 5px;
}

td:last-child a:hover {
    text-decoration: underline;
    font-weight: bold;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}